*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Kanit", sans-serif;

}

 .kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}
ul,ol,li{
    list-style: none;
}


body{
    background-image: url(img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

header{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
}
.started{
    background-color:#FC4754 ;
    width: 136px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 15px;
}

h1{
    color: white;
    font-weight: normal;
    margin-left: 15px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 25px 30px 0px 30px ;
    font-size: 20px;
    font-weight: normal;
}

.principal{
    margin: 100px 0px 0px 70px;
}

.texto-principal{
    font-size: 50px;
    width: 520px;
    height: 250px;
}

.paragrafo{
    font-size: 24px;
    width: 420px;
    height: 48px;
}

.botoes{
    display: flex;
    margin-top: 70px;
}



.explore{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 170px;
    height: 60px;
    color: white;
    background-color: #FC4754;
    border-radius: 4px;
    font-size: 20px;
}
.connect{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 170px;
    height: 60px;
    color: white;
    background-color: #fc475300;
    border: 1px solid #FC4754;
    margin-left: 15px;
    border-radius: 4px;
    font-size: 20px;

}

.info{
    margin-top: 50px;
    width: 440px;
    height: 84px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-weight: normal;
    margin-right: 40px;
}

.text{
    color: #ffffff9d;
}

.now{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 54px;
    border: 2px solid #FF828B;
    background-color: #FC4754FA;
    border-radius: 5px;
}

.metricas{
    display: flex;
    margin-top: 200px;
}

.users{
    border-right: 2px solid white;
    margin-right: 15px;
}
.artworks{
    border-right: 2px solid white;
    margin-right: 15px;
}
.number-footer{
    font-size: 40px
}
.reyna{
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: -1;
    transform: translate(500px, -120px);
}

.info{
     position: absolute;
     top:50%;
     right: 50%;
     transform: translate(350px, 100px);

}


